.root {

}

.videoPlayer {
	position:       relative;
	width:          800px;
	height:         0;
	padding-bottom: 56%;
	> * {
		position: absolute;
		left:     0;
		top:      0;
		height:   100%;
		width:    100%;
	}
	iframe {
		height: 100%;
		width: 100%;
	}
}

.logos {
	margin:    0 auto;
	max-width: 600px;
	.logoH {
		max-width: 200px;
	}
	.logoV {
		max-width: 140px;
	}
}


$ccWidth: 180px;

.colorCard {
	max-width: $ccWidth;
	width:     20vw;
	[class*='shades'] {
		max-height: $ccWidth / 5;
		height:     20vw / 5;
	}
}

@media only screen and (max-width: 1280px) {
	.videoPlayer {
		width:    600px;
	}
}

@media only screen and (max-width: 1024px) {
	.videoPlayer {
		width:    480px;
	}
}

@media only screen and (max-width: 960px) {
	.videoPlayer {
		width:    70vw;
	}
}

@media only screen and (max-width: 600px) {
	.videoPlayer {
		width:    90vw;
	}
}
