$height: 72px;

.root {
	
}

.hero {
	position: relative;
	img {
		position:  absolute;
		width:     20%;
		top:       50%;
		left:      50%;
		transform: translate(-50%, -50%);
	}
}

.cover {
	height:              calc(100vh - #{$height});
	width:               100%;
	min-height:          300px;
	min-width:           260px;
	background-size:     cover;
	background-position: center center;
	background-repeat:   no-repeat;
}

.noCover {
	.cover {
		display: none;
	}
}

.fold {
	height: $height;
}

.deets {
	background-color: white;
	height: $height;
	> div {
		height: $height;
	}
	.label {
		display:        inline-block;
		font-size:      10px;
		color:          lighten(black, 60%);
		text-transform: uppercase;
		letter-spacing: .10rem;
	}
	h1, h2, h3, h4, h5, h6, label {
		line-height: 1;
	}
	h1 {
		font-size: 1.3rem;
		margin:    0;
	}
	h2 {
		font-size:      1.0rem;
		text-transform: uppercase;
		margin:         0;
	}
}

@media only screen and (max-width: 960px) {
	.deets {
		padding-left: 24px;
	}
	
}

.about {
	margin: 48px 0;
	label {
		display:        inline-block;
		font-size:      11px;
		color:          lighten(black, 40%);
		text-transform: uppercase;
		letter-spacing: .075rem;
	}
	.description,
	.roles {
		line-height: 1.5;
	}
	.description {
		font-size:   13px;
		font-weight: 500;
		margin-bottom: 24px;
	}
	.roles {
		font-size: 13px;
		letter-spacing: .05rem;
	}
}
