@import '../../styles/vars';

$height: 72px;
$heightMobile: 60px;

.root {
	
}

.hero {
	position: relative;
	img {
		position:  absolute;
		width:     30%;
		top:       50%;
		left:      50%;
		transform: translate(-50%, -50%);
	}
}

.cover {
	height:                calc(100vh);
	width:                 100%;
	min-height:            300px;
	min-width:             260px;
	background-size:       cover;
	//background-position: center center;
	background-repeat:     no-repeat;
	background-attachment: fixed;
}

.noCover {
	.cover {
		display: none;
	}
}

.fold {
	position: absolute;
	top:      0;
	left:     0;
	width:    100%;
	height:   $height;
}

.deets {
	background-color: white;
	height:           $height;
	border-bottom:    1px solid $border-color;
	> div {
		height: $height;
	}
	.label {
		display:        block;
		font-size:      10px;
		color:          lighten(black, 60%);
		text-transform: uppercase;
		letter-spacing: .10rem;
	}
	h1, h2, h3, h4, h5, h6, label {
		line-height: 1.2rem;
		letter-spacing: 0.02rem;
	}
	h1 {
		font-size: 1.2rem;
		margin:    0;
	}
	h2 {
		font-size:      0.8rem;
		text-transform: uppercase;
		margin:         0;
		line-height: 1.3rem;
	}
}

.about {
	margin: 48px 0;
	label {
		display:        block;
		font-size:      11px;
		color:          lighten(black, 60%);
		text-transform: uppercase;
		letter-spacing: .075rem;
	}
	.description,
	.roles {
		line-height: 1.6;
	}
	.description {
		font-size:     16px;
		font-weight:   500;
		margin-bottom: 24px;
	}
	.roles {
		font-size:      16px;
		font-weight:    500;
		letter-spacing: .05rem;
	}
}

.heading {
	margin:     32px auto;
	text-align: center;
	img {
		width: 80px;
	}
	.title,
	.subtitle {
		display: block;
	}
	.title {
		margin:         0;
		font-size:      1.3rem;
		text-transform: uppercase;
		letter-spacing: .08rem;
	}
	.subtitle {
		margin:      0;
		font-weight: 300;
		color:       lighten(black, 60%);
	}
}

@media only screen and (max-width: 960px) {
	.cover {
		height: calc(100vh - #{$heightMobile * 2});
	}
	.fold {
		height: $heightMobile;
	}
	.deets {
		height: $heightMobile;
		> div {
			height: $heightMobile;
		}
	}
}
