@import '../../../styles/vars';

.root {
	
}

.logos {
	margin:    0 auto;
	max-width: 600px;
	.logoH {
		max-width: 100%;
		height: 50px;
	}
	.logoV {
		max-width: 100%;
		height: 72px;
	}
}

.type {
	margin:    0 auto;
	max-width: 1200px;
	img {
		width: 100%;
	}
	.type1 {
		max-width: 420px;
	}
	.type2 {
		max-width: 420px;
	}
}

.photos {
	margin:    0 auto;
	max-width: 1200px;
	img {
		max-height: 230px;
	}
}

.insight {
	margin:    0 auto;
	max-width: 1200px;
}

.videoPlayer {
	position:       relative;
	width:          100%;
	height:         0;
	padding-bottom: 56%;
	> * {
		position: absolute;
		left:     0;
		top:      0;
		height:   100%;
		width:    100%;
	}
	iframe {
		height: 100%;
		width:  100%;
	}
}

.videoPoster {
	position:       relative;
	width:          800px;
	height:         0;
	padding-bottom: 56%;
	.videoPosterImage {
		position:         absolute;
		left:             0;
		top:              0;
		height:           100%;
		width:            100%;
		background-image: url("#{$assetUrl}/vetondemand/video-poster-sm.png");
		background-size:  cover;
	}
	&:after {
		content:             '';
		display:             block;
		position:            absolute;
		top:                 50%;
		left:                50%;
		transform:           translate3d(-50%, -50%, 0);
		background-image:    url("#{$assetUrl}/social/Youtube-fill.svg");
		background-position: center center;
		background-repeat:   no-repeat;
		width:               68px;
		height:              68px;
		transition: transform 200ms ease-in-out;
	}
	cursor:         pointer;
	&:hover,
	&:focus {
		&:after {
			transform: translate3d(-50%, -50%, 0) scale(1.2);
		}
	}
}

.video {
	.videoContainer {
		
	}
	.videoInner {
		
	}
}

$ccWidth: 180px;

.colorCard {
	max-width: $ccWidth;
	width:     20vw;
	[class*='shades'] {
		max-height: $ccWidth / 5;
		height:     20vw / 5;
	}
}

@media only screen and (max-width: 1280px) {
	.videoPlayer {
		width: 600px;
	}
}

@media only screen and (max-width: 1024px) {
	.videoPlayer {
		width: 480px;
	}
	.colorCard {
		width: 15vw;
		[class*='shades'] {
			height: 15vw / 5;
		}
	}
	
}

@media only screen and (max-width: 960px) {
	.photos {
		width: 90%;
		img {
			max-height: 210px;
		}
	}
	.logos {
		.logoH {
			height: 36px;
		}
		.logoV {
			height: 50px;
		}
	}
	.type {
		.type1 {
			min-width: 200px;
		}
		.type2 {
			min-width: 200px;
		}
	}
	.videoPlayer {
		width: 70vw;
	}
}

@media only screen and (max-width: 600px) {
	.videoPlayer {
		width: 90vw;
	}
}

.modal {
	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0;
	outline:  none;
}

.modalOverlay {
	position:         fixed;
	z-index:          1000;
	top:              0;
	left:             0;
	right:            0;
	bottom:           0;
	background-color: $black;
}
