@import "helpers/index";
$sidebarWidth: 18rem;
$assetUrl: '//d1x0bq6kwb2k3o.cloudfront.net';
//$assetUrl: '';

$faces: (
					"brandonB": (
						family: "brandon",
						url: "#{$assetUrl}/fonts/brandon-text/BrandonText-Bold",
						weight: 700,
						style: normal
					),
					"brandonM": (
						family: "brandon",
						url: "#{$assetUrl}/fonts/brandon-text/BrandonText-Medium",
						weight: 500,
						style: normal
					),
					"brandonR": (
						family: "brandon",
						url: "#{$assetUrl}/fonts/brandon-text/BrandonText-Regular",
						weight: 300,
						style: normal
					),
					"brandonL": (
						family: "brandon",
						url: "#{$assetUrl}/fonts/brandon-text/BrandonText-Light",
						weight: 200,
						style: normal
					),
					"brandonT": (
						family: "brandon",
						url: "#{$assetUrl}/fonts/brandon-text/BrandonText-Thin",
						weight: 100,
						style: normal
					),
					"gothamL": (
						family: "gotham",
						url: "#{$assetUrl}/fonts/gotham/GothamRounded-Light",
						weight: 300,
						style: normal
					),
					"gothamM": (
						family: "gotham",
						url: "#{$assetUrl}/fonts/gotham/GothamRounded-Bold",
						weight: 700,
						style: normal
					),
				);
$font-formats: eot woff ttf;

$black: hsla(345, 6%, 13%, 1);
$gold: hsla(27, 28%, 51%, 1);
$vod-purple: #49287a;
$vod-yellow: #efa343;


$vod-brand-colors: (
										 purple:$vod-purple,
										 gold:$vod-yellow,
										 grey1:#eeeeee,
										 grey2:#d5d5d5,
										 gunmetal:#353535
									 );

$border-color: lighten($black,80%);
