@import "helpers/index";

$sidebarWidth: 18rem;
$assetUrl: 'https://assets.davidvictor.me';
//$assetUrl: '';

$faces: (
					"brandonB": (
						family: "brandon",
						url: "#{$assetUrl}/fonts/brandon-text/BrandonText-Bold",
						weight: 700,
						style: normal
					),
					"brandonR": (
						family: "brandon",
						url: "#{$assetUrl}/fonts/brandon-text/BrandonText-Regular",
						weight: 300,
						style: normal
					),
					"brandonL": (
						family: "brandon",
						url: "#{$assetUrl}/fonts/brandon-text/BrandonText-Light",
						weight: 200,
						style: normal
					),
					"gothamB": (
						family: "gotham",
						url: "#{$assetUrl}/fonts/gotham/Gotham-Bold",
						weight: 700,
						style: normal
					),
				);
$font-formats: woff2 woff ttf;

$black: hsla(345, 6%, 13%, 1);
$gold: hsla(27, 28%, 51%, 1);
$vod-purple: #49287A;
$vod-yellow: #EFA343;

$text: hsla(345, 6%, 13%, 1);
$text-light: hsla(345, 6%, 36%, 1);
$text-muted: hsla(345, 6%, 62%, 1);

$vod-brand-colors: (
										 purple:$vod-purple,
										 gold:$vod-yellow,
										 grey1:#EEEEEE,
										 grey2:#D5D5D5,
										 gunmetal:#353535
									 );

$amptube-brand-colors: (
												 blue:#5486FF,
												 light-blue:#6DCDFF,
												 red:#FF314C,
												 gray:#424242
											 );

$lib-brand-colors: (
										 dark-purple:#431290,
										 light-purple: #812DFB,
										 pink: #D6157A,
										 lib-red1: #D00C32,
										 lib-red2:#790002
									 );

$border-color: lighten($black, 80%);

$resumeModalBg: $black;
