<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta property="og:url" content="https://davidvictor.me">
<meta property="og:title" content="David Victor 🕴 Product Designer">
<meta property="og:type" content="website">
<meta property="og:description" content="👋 Hi, I'm David. I'm a Product Designer. I develop innovative, creative solutions by combining a unique visual identity with sustained emotional resonance. I define success as a roar, audible through the noise of now.">
<meta property="og:image" content="https://davidvictor.me/davidvictor.me.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">
<meta property="fb:app_id" content="1551537784905428">

