@import '../../styles/vars';

.root {
	position: relative;
	height:   100vh;
	width:    100%;
}

.me {
	position:            absolute;
	bottom:              0;
	left:                0;
	width:               260px;
	height:              260px;
	background-size:     100%;
	background-position: center center;
	background-repeat:   no-repeat;
}

.venice {
	position: absolute;
	bottom:   32px;
	right:    48px;
	font-size: 12px;
	color: lighten(black, 60%);
}

.about {
	position: relative;
	z-index: 1;
	padding: 48px;
	max-width: 1080px;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 36%,rgba(255,255,255,0) 100%);
	p {
		font-size: 24px;
		font-weight:     300;
		letter-spacing:  0.02rem;
		margin: 0 0 16px 0;
	}
	button {
		text-transform: lowercase !important;
		font-size: 18px !important;
		background: white !important;
		transition: transform 200ms ease;
		&:hover {
			transform: scale(1.05);
		}
	}
}

@media only screen and (min-width: 1280px) {
	.me {
		width:  300px;
		height: 300px;
	}
}


@media only screen and (min-width: 1400px) {
	.me {
		width:  340px;
		height: 340px;
	}
}

@media only screen and (min-width: 1660px) {
	.me {
		width:  420px;
		height: 420px;
	}
}

@media only screen and (min-width: 1920px) {
	.me {
		width:  520px;
		height: 520px;
	}
}

@media only screen and (max-width: 1120px) {
	
	.about {
		p {
			font-size: 21px;
		}
	}
}

@media only screen and (max-width: 960px) {
	.root {
		height: calc(100vh - 60px);
	}
	.me {
		bottom: 60px;
		width:  260px;
		height: 260px;
	}
	.venice {
		right:    18px;
		bottom:   72px;
	}
	.about {
		padding: 24px;
		p {
			font-size: 20px;
		}
		button {
			font-size: 14px !important;
		}
	}
}

@media only screen and (max-width: 600px) {
	.me {
		width:  210px;
		height: 210px;
	}
	.venice {
		font-size: 10px;
	}
	.about {
		p {
			font-size: 14px;
		}
	}
}
