
.root {
	position: relative;
	height:   100vh;
	width:    100%;
	.inner {
		position:            absolute;
		width:               100%;
		height:              100%;
		background-image:    url("/images/lionhouse/lionhouse-poster.jpg");
		background-size:     cover;
		background-position: bottom right;
		background-repeat:   no-repeat;
	}
}

.about {
	position: relative;
	width: 60%;
	top: 20%;
	left: 64px;
	///transform: translate(-50%,-50%);
}
