@import '../../styles/vars';

.root {
	width:  14rem;
	height: 100vh;
}

.inner {
	height: 100%;
}

.header {
	margin: 24px 0 0 0;
}

.footer {
	margin: 0 0 24px 0;
}

.icon {
	svg {
		display: block;
		height: auto;
		width: 24px;
	}
}

.logoLink {
	display: block;
}

.logoImg {
	width:  100%;
	margin: 0 0 12px 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	overflow-y: auto;
	overflow-x: hidden;
	outline: none;
	-webkit-overflow-scrolling: touch;
}

.modalOverlay {
	position: fixed;
	z-index:  1000;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0;
	background-color: transparentize(white,0.03);
}

.emailMe {
	height: 100%;
	> div {
		height: 100%;
	}
	a {
		font-size: 7vw;
		letter-spacing: 0.2rem;
		font-weight: 200;
		span {
			color: $gold;
		}
	}
}

@media only screen and (max-width: 960px) {
	.icon {
		svg {
			display: block;
			height: auto;
			width: 30px;
		}
	}
}
