@import '../../styles/vars';

$toggleHeight: 60px;

.menuToggle {
	height:           $toggleHeight;
	width:            100vw;
	background-color: white;
	display:          none;
	border-top:       1px solid $border-color;
	.mobileButton {
		display:             block;
		width:               100%;
		height:              $toggleHeight;
		appearance:          none;
		background-color:    white;
		color:               #111111;
		box-shadow:          none;
		border:              none;
		cursor:              pointer;
		font-size:           14px;
		font-weight:         700;
		text-transform:      uppercase;
		letter-spacing:      0.02rem;
		text-indent:         -9999em;
		background-image:    url("#{$assetUrl}/base/close-thick.svg");
		background-size:     108px;
		background-position: center center;
		background-repeat:   no-repeat;
	}
}

.inner {
	width:            18rem;
	height:           100vh;
	position:         fixed;
	z-index:          200;
	top:              0;
	background-color: white;
	border-right:     1px solid $border-color;
}

.header {
	margin: 24px 0 0 0;
}

.footer {
	margin: 0 0 24px 0;
	a {
		display:         block;
		text-decoration: none;
		font-weight:     300;
		letter-spacing:  0.06rem;
		font-size:       13px;
		padding:         0 12px;
	}
}

.icon {
	svg {
		display: block;
		height:  auto;
		width:   24px;
	}
}

.logoLink {
	display: block;
}

.logoImg {
	width:     94%;
	max-width: 14rem;
	margin:    0 0 12px 0;
}

.geo {
	width: 36px;
}

.modal {
	position:                   absolute;
	top:                        50%;
	left:                       50%;
	transform:                  translate3d(-50%, -50%, 0);
	overflow-y:                 auto;
	overflow-x:                 hidden;
	outline:                    none;
	padding:                    1rem * 2;
	-webkit-overflow-scrolling: touch;
}

.modalOverlay {
	position:         fixed;
	z-index:          1000;
	top:              0;
	left:             0;
	right:            0;
	bottom:           0;
	background-color: transparentize(white, 0.03);
}

.emailme {
	height: 100%;
	> div {
		height: 100%;
	}
	a {
		font-size:      5vw;
		letter-spacing: 0.2rem;
		font-weight:    200;
		span {
			color: $gold;
		}
	}
}

.iconButtonWrap {
	+ * {
		margin-left: 4px;
	}
}

@media only screen and (max-width: 960px) {
	.root {
		&.active {
			.inner {
				visibility: visible;
				transform: translate3d(0, 0, 0);
				transition-delay:0s;
			}
		}
	}
	.inner {
		height:     100%;
		width:      100vw;
		visibility: hidden;
		transform:  translate3d(0, calc(100% + #{$toggleHeight}), 0);
		transition: visibility 0s linear 200ms, transform 200ms ease-in-out;
	}
	.logoImg {
		width:     100%;
		max-width: 14rem;
	}
	.menuToggle {
		display: block;
	}
	.mobileButton {
		&.buttonActive {
			background-image: url("#{$assetUrl}/base/closed-thick.svg");
		}
	}
	.footer {
		margin: 0 0 24px + $toggleHeight 0;
	}
	
	.icon {
		svg {
			width: 30px;
		}
	}
	.iconButtonWrap {
		+ * {
			margin-left: 24px;
		}
	}
	.geo {
		width: 42px;
	}
}
