@import '../../styles/vars';

.geo {
	width: 42px;
}

.modal {
	position:                   absolute;
	top:              0;
	left:             0;
	right:            0;
	bottom:           0;
	outline:                    none;
	//overflow-y: scroll;
}

.modalOverlay {
	position:         fixed;
	z-index:          1000;
	top:              0;
	left:             0;
	right:            0;
	bottom:           0;
	background-color: $black;
}

.debug {
	position: absolute;
	//width: 250px;
	top: 24px;
	left: 24px;
	background: white;
	padding: 24px;
	font-size: 13px;
	font-weight: 700;
}

.k {
	position: relative;
}

.scroll {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	.inner {
		height: 150%;
		width: 100%;
	}
}
